$blue-1:#e6f7ff;
$blue-2:#bae7ff;
$blue-3:#91d5ff;
$blue-4:#69c0ff;
$blue-5:#40a9ff;
$blue-6:#1890ff;
$blue-7:#096dd9;
$blue-8:#0050b3;
$blue-9:#003a8c;
$blue-10: #002766;


//
//$blue-1:#fff1f0;
//$blue-2:#ffccc7;
//$blue-3:#ffa39e;
//$blue-4:#ff7875;
//$blue-5:#ff4d4f;
//$blue-6:#f5222d;
//$blue-7:#cf1322;
//$blue-8:#a8071a;
//$blue-9:#820014;
//$blue-10: #5c0011;


//$blue-1:#feffe6;
//$blue-2:#ffffb8;
//$blue-3:#fffb8f;
//$blue-4:#fff566;
//$blue-5:#ffec3d;
//$blue-6:#fadb14;
//$blue-7:#d4b106;
//$blue-8:#ad8b00;
//$blue-9:#876800;
//$blue-10: #614700;
